@import '../../node_modules/normalize.css/normalize'
@import './player'
@import './lookup'

// NOTES:
//
// Nothing here is general-purpose.  The corresponding markup should also be easy to understand.
// Ideally, a non-coder should be able to theoretically be able to reason about the document and
// make copy changes.  If you're adding more than a couple classes to the elements to achieve
// something, you might be doing it wrong.  The CSS is intended to be re-used but not re-purposed.
// Rather than building a grid system, you may want to consider building grid-like behavior into
// your elements with flex display.
//
// When it comes to deciding where a font should be specified, I try to do so on inline elements
// because those are usually the actual elements to display text.
//
//
// STYLE GUIDELINES:
//
// - Try to make definitions as close to the order of how the elements would typically appear.
// - Properties should be specified in alphabetical order.
// - Similar to the markup, separate relatively high-level concepts with two spaces.
// - Consider taking advantage of scope before using classes, so think about using the `>` "child combinator" and first/last child selectors.
// - The order of definitions should be:
//   1) variables
//   2) properties
//   3) media queries
//   4) classes/selectors
//   5) pseudo-elements
//   6) children


$serif: "abril-text", Georgia, serif
$serif-titling: "abril-titling", Georgia, serif
$sans: "franklin-gothic-urw", "Avenir Next", "Avenir", Arial, sans-serif
$sans-alt: "fira-sans", Arial, sans-serif;

$color-dark: #1F5154
$color-medium: #388B90
$color-light: #BBCACB
$color-black: #0F1620
$color-grey: #6C7579
$color-grey-light: #DEE4E5

$screen-mobile: 31.25em;
$screen-tablet: 56rem;
$screen-desktop: 64rem;
// $media-wide: 84rem;
// *
//   outline: 1px solid red !important

html, body
  height: 100%


body
  overflow-y: hidden


main
  height: 100%
  overflow-x: hidden
  overflow-y: auto
  position: relative
  z-index: 100


button
  cursor: pointer


hr
  // a typical horizontal rule
  $width: 860px
  background: #D0D0D0
  border: 0
  height: 1px
  &[fancy]
    // a "fancy" horizontal rule
    $height: 2px
    $diamond-size: 10px
    $diamond-border: 5px
    background: #8b9d9f
    height: $height
    margin-bottom: 57px
    margin-top: 130px
    max-width: $width
    @media screen and (max-width: $width)
      margin-left: 20px
      margin-right: 20px
    &:before
      content: ""
      background: $color-medium
      background-clip: content-box
      height: $diamond-size
      left: 50%
      position: absolute
      transform: translateY(-40%) translateX(-50%) rotate(45deg)
      width: $diamond-size
      z-index: 2
    &:after
      content: ""
      background: #fff
      background-clip: content-box
      height: $height * 2
      left: 50%
      position: absolute
      transform: translateY(-10%) translateX(-50%)
      width: $diamond-size + ($diamond-border * 4)
      z-index: 1
  &[thick]
    height: 3px
    background: $color-medium


header
  color: #fff
  display: block
  // flex
  display: flex
  flex-wrap: nowrap
  justify-content: flex-start
  align-items: flex-start
  align-content: stretch
  // /flex
  left: 0
  opacity: 1
  padding: 18px 32px
  position: absolute
  right: 0
  top: 0
  transform: translateY(0)
  transition: all .3s ease-in-out
  z-index: 50
  div[branding]
    // flex: 2 1 auto
    // align-self: auto
    font-family: $serif
    opacity: 1
    transition: opacity .8s linear
    transition-delay: 0.3s
    a[logo]
      text-decoration: none
      vertical-align: middle
      img
        border: 0
        max-width: 100%
        @media (max-width: $screen-mobile)
          height: 16px
    span[pipe]
      background: #fff
      display: inline-block
      height: 20px
      margin: 0 8px
      margin-bottom: 6px
      width: 1px
      vertical-align: middle
    h3
      color: #fff
      display: inline-block
      font-weight: 600
      font-size: 20px
      font-family: $serif
      margin: 0
      @media (max-width: $screen-mobile)
        display: none
    span[tagline]
      color: #fff
      font-family: $sans
      font-size: 19px
      font-weight: 300
      margin-left: -3px
      @media (max-width: 1342px)
        display: none
    label
      color: #fff
      display: inline-block
      font-weight: 600
      font-size: 20px
      font-family: $serif
      margin: 0
      visibility: hidden
      @media (max-width: $screen-mobile)
        color: #fff
        font-size: 16px
        visibility: visible
      &:after
        content: url('../../images/icon_caret-blue.svg')
        display: inline-block
        margin-left: 5px
  > label
    // the label, in this case, is a toggler
    // button for the dropdown drawer and operates
    // using a checkbox with the :checked state
    background: 0 0
    border: 0
    color: #fff
    cursor: pointer
    font-family: $sans
    line-height: normal
    outline: 0
    position: absolute
    right: 32px
    text-transform: uppercase
    top: 20px
    &[open]
      @media (max-width: 640px)
        display: none
    @media (max-width: 768px)
      right: 18px


header[fixed]
  // This if for the version of the header
  // that slides down when you scroll.
  background: #fff
  position: fixed
  transform: translateY(-100%)
  transition: all .3s ease-in-out
  z-index: 50
  &.active
    box-shadow: 0 0 10px rgba(0,0,0,.3)
    transform: translateY(0)
    opacity: 1
  div[branding]
    h3
      color: $color-medium
      &[mobile]:after
        content: url('../../images/icon_caret-blue.svg')
    span[tagline]
      color: $color-black
    span[pipe]
      background: #000
    label
      color: $color-medium
  label
    color: $color-black


div[share-story]
  list-style: none
  margin: 2em auto
  padding: 0
  text-align: center
  a
    display: inline-block
    margin: 0 4px


#nav-drawer-toggler-checkbox
  display: none
#nav-drawer-toggler-checkbox:checked ~ main
  overflow-y: hidden
  nav[drawer]
    opacity: 1
    transform: translateY(0)

nav[drawer]
  // The dropdown menu
  align-content: stretch
  align-items: stretch
  background: #fff
  box-shadow: rgba(0,0,0,.3) 0 0 10px
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  height: 100%
  left: 0
  opacity: 0
  overflow: hidden
  position: fixed
  right: 0
  top: 0
  transform: translateY(-100%)
  transition: all 0.4s ease-in-out
  z-index: 120
  &.active
    opacity: 1
    transform: translateY(0)
  header
    background: #fff
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
    div[branding]
      h3
        color: $color-medium
      span[tagline]
        color: $color-black
      span[pipe]
        background: #000
    label
      color: $color-medium
  div[contents]
    height: 100%
    width: 100%
    overflow-y: auto // allows scrolling


article
  // margin-bottom: 14em


  > *
    margin: 0 auto // Top-level elements should be centered.  This as close to a default as we will get.


  .hero  // The large lead asset at the beginning of the story.
    align-items: center
    background: url('http://a.scpr.org/i/b10ec0efebe4392a9bcbd2e99a70f0c3/148452-full.jpg') no-repeat center top
    background-size: cover
    display: flex
    justify-content: center
    height: 100vh
    margin-bottom: 4em
    min-height: 48em
    width: 100%
    h1
      // The caption for the hero image.
      align-self: flex-end
      color: white
      font-family: $serif-titling
      font-size: 7.4375em
      font-weight: 800
      line-height: 1.0756em
      margin-bottom: 0px
      margin-right: 0px
      margin-top: 0px
      max-width: 1040px
      padding: 48px
      text-align: center
      @media (max-width: 800px)
        font-size: 5.0625em
        line-height: 1.1728em
      @media (max-width: 600px)
        font-size: 3.75em
        line-height: 1.1666em


  > address
    // the publishedAt timestamp and byline
    color: #6C7579
    font-family: $sans
    font-size: 1.125em
    max-width: 37.5em
    text-align: center
    a
      color: #388B90
      text-decoration: none


  > h2
    $width: 860px
    $margin: 20px
    color: #0F1620
    display: block
    font-family: $sans
    font-size: 1.7em
    font-weight: normal
    line-height: 1.3em
    margin: 0 auto
    margin-top: 34px
    margin-bottom: 34px
    max-width: $width
    text-align: center
    @media screen and (max-width: $width + $margin)
      margin-left: $margin
      margin-right: $margin


  > aside[audio]
    // The audio play element inside the body of the story
    $width: 53.75em
    $gutter: 20px
    background: $color-grey-light
    cursor: pointer
    display: flex
    margin-top: 35px
    min-height: 4em
    max-width: $width
    padding-left: 146px
    position: relative
    @media screen and (max-width: $width + 20)
      margin-left: $gutter
      margin-right: $gutter
    button
      background: url(../../images/ctrl_audio-play.svg) no-repeat center $color-medium
      border: 0
      display: block
      outline: 0
      position: absolute
      left: 0
      top: 0
      bottom: 0
      width: 128px
    div[details]
      align-self: center
      width: 100%
      span[title]
        color: $color-dark
        display: inline-block
        font-family: $sans
        font-size: 1.125em
        font-weight: 400
        margin-right: 32px
        width: 100%
      span[duration]
        color: $color-dark
        display: inline-block
        font-family: $sans
        font-size: 0.875em
        font-weight: 300
        text-transform: uppercase


  > section
    // A group of paragraphs and figures at the top-level in an article element.
    $width: 592px
    $margin: 20px
    margin: 0 auto
    max-width: $width
    @media screen and (max-width: $width + $margin)
      margin-left: 20px
      margin-right: 20px


    > p
      color: #0F1620
      font-family: $sans
      font-size: 1.125em
      line-height: 1.7777777778em
      margin: 0 auto
      margin-bottom: 2em
      margin-top: 0


    > figure // a figure inside a section becomes smaller and floats right
      display: block
      float: right
      margin: 2em -13.125em 2em 2em
      max-width: 420px
      @media screen and (max-width: 70em)
        // on small screens, don't float
        float: none
        margin: 2em auto
        max-width: 100%
      > *
        border: 0
        display: block
        margin-bottom: 2em
        max-width: 100%
      img
        margin: 0 auto
        margin-bottom: 2em
      figcaption
        color: #6C7579
        display: block
        font-size: 0.9em
        font-style: normal
        font-weight: 500
        line-height: 1.375em
        address
          color: #388B90
          display: inline
          font-size: 0.95em
          font-style: normal
          font-weight: 400
          line-height: 1.57em
          text-transform: uppercase


    > ul
      color: #333
      li
        color: #212121
        font-family: $sans
        font-size: 1.125em
        line-height: 1.77em
        list-style: none
        margin-bottom: 2em
        margin-top: 0
        &:before
          background-color: #388B90
          content: ""
          display: block
          float: left
          height: 10px
          position: absolute
          transform: translate(-25px, 100%)
          width: 10px

        h4
          color: #575E68
          font-family: $sans
          font-size: 1.125em
          line-height: 1.77em
          margin-bottom: 0
          text-transform: none


  > blockquote
    $width: 730px
    $gutter: 20px
    border-left: 1px solid #D5E1F3
    color: #1F5154
    font-family: $serif
    font-size: 1.875em
    font-weight: 300
    line-height: 1.46em
    margin: 0 auto
    // margin-bottom: 2em
    // margin-left: 25%   // not sure why I had this
    max-width: $width
    padding: 1em
    position: relative
    @media (max-width: $width + $gutter)
      margin-right: $gutter
    @media screen and (max-width: 61.8125em)
      font-size: 1.5em
      line-height: 1.5em
      margin-left: 60px
      padding: 0 0 0 $gutter
    &:before
      background: url('../../images/icon_pullquote.svg') left top no-repeat
      content: ""
      display: block
      // fill: #bbcacb // the color of the svg
      filter: grayscale(20%)
      position: absolute
      width: 134px
      height: 119px
      left: -119px
      top: 24px
      @media screen and (max-width: 61.8125em)
        background-size: 100% 100%
        height: 60px
        left: -67px
        top: 0
        width: 67px
    p
      margin-top: 0
      margin-bottom: 20px
    & ~ div[share]
      // The group of share links that
      // appear directly after a blockquote
      list-style: none
      margin: 2em auto
      margin-bottom: 70px
      margin-top: -10px
      max-width: $width
      padding: 0
      text-align: right
      @media (max-width: $width + 20)
        margin-left: 20px
        margin-right: 20px
      a
        display: inline-block
        margin: 0 4px


  > figure
    $width: 860px
    $margin: 20px
    display: block
    margin: 0 auto
    max-width: 53.75em
    padding: 2em 0
    &[graphic]
      max-width: 37.5emf
      @media (max-width: $width + $margin)
        padding-left: $margin
        padding-right: $margin
    > *
      border: 0
      display: block
      margin-bottom: 2em
      max-width: 100%
    h3
      $width: 860px
      $margin: 20px
      color: $color-black
      display: block
      font-family: $sans
      font-size: 1.4em
      font-weight: 400
      line-height: 1.8823529412em
      margin: 0 auto
      margin-top: 34px
      margin-bottom: 34px
      max-width: 860px
      text-align: center
      @media (max-width: $width + $margin)
        margin-left: $margin
        margin-right: $margin
    figcaption:first-child // A caption that appears beneath a heading, usually describing a graphic rather than a photo
      color: #575E68
      font-family: $sans
      font-size: 1.125em
      font-weight: 700
      line-height: 2em
      text-align: center
      em
        color: #254998
        font-weight: 700
    img
      margin: 0 auto
      margin-bottom: 2em
      &[large]
        @media (max-width: $screen-mobile)
          display: none
      &[small]
        display: none
        @media (max-width: $screen-mobile)
          display: block

    figcaption:last-child // The caption at the bottom of the figure
      color: #6C7579
      display: block
      font-size: 0.9em
      font-style: normal
      font-weight: 500
      line-height: 1.375em
      @media (max-width: $screen-mobile)
        margin-left: 20px
        margin-right: 20px
      address
        color: #388B90
        display: inline
        font-size: 0.95em
        font-style: normal
        font-weight: 400
        line-height: 1.57em
        text-transform: uppercase


aside[feedback]
  $feedback-border-width: 1px
  $feedback-height: 115px
  $feedback-padding: 10px
  $feedback-position: fixed
  $feedback-top: 78.5%
  $feedback-width: 250px
  $feedback-left: -($feedback-width + ($feedback-padding * 2) + ($feedback-border-width * 2))
  align-items: center
  background-color: #fff
  border-color: $color-light
  border-left-style: none
  border-right-style: none
  border-style: solid
  border-width: $feedback-border-width
  display: flex
  flex-direction: column
  height: 115px
  justify-content: center
  left: $feedback-left
  padding: $feedback-padding
  position: $feedback-position
  text-align: center
  transition: all .3s ease-in-out
  top: $feedback-top
  width: $feedback-width
  z-index: 49
  @media (max-width: 1190px)
    height: initial
    left: 0
    position: relative
    // width: 100%
  &.visible
    left: 0
  div[description]
    color: $color-black
    font-family: $sans
    font-size: 14px
    margin-bottom: 15px
    width: 100%
    word-wrap: break-word
    @media (max-width: 1190px)
      margin-bottom: 10px
  a
    background: transparent
    border: 1px solid $color-medium
    color: $color-medium
    cursor: pointer
    font-family: $sans-alt
    font-size: 0.9375rem
    font-weight: 500
    padding: 14px 18px
    text-decoration: none
    text-transform: uppercase
    @media (max-width: 1190px)
      font-size: 0.7rem
      padding: 0.5rem 0.625rem
    &:hover
      background: $color-medium
      border-color: $color-medium
      color: #fff

.pac-container
  width: 900px

form[representative]
  display: flex
  flex-basis: auto
  flex-grow: 1
  flex-wrap: wrap
  justify-content: space-between
  padding-bottom: 90px
  padding-left: 5%
  padding-right: 5%
  padding-top: 90px
  margin: 0 auto
  max-width: 1190px
  > h2
    // the big heading
    color: $color-dark
    display: block
    font-family: $serif-titling
    font-size: 3em
    font-weight: 800
    line-height: 1.0756em
    margin: 0
    width: 45%
    @media (max-width: $screen-tablet)
      font-size: 9.5vw
      margin-bottom: 0.5em
      width: 100%
  > span
    // the main description
    align-self: center
    color: $color-black
    display: block
    font-size: 1.3em
    line-height: 1.57em
    max-width: 620px
    width: 50%
    @media (max-width: $screen-tablet)
      padding-left: 0
      width: 100%
  hr
    margin-top: 2em
    margin-bottom: 1.5em
    width: 100%
  h3
    color: $color-dark
    font-family: $sans
    font-size: 0.9em
    font-weight: 500
    text-transform: uppercase
  button
    background: transparent
    border: 1px solid $color-medium
    color: $color-medium
    cursor: pointer
    display: inline-block
    font-family: $sans-alt
    font-size: 0.7em
    font-weight: 600
    height: 29px
    text-decoration: none
    vertical-align: bottom
    &:hover
      background: $color-medium
      border-color: $color-medium
      color: #fff
    &:focus
      outline: none
    &:active
      background: $color-dark
  div[lookup]
    width: 45%
    @media (max-width: $screen-tablet)
      width: 100%
    input
      background: transparent
      border: 0
      border-bottom: 1px solid $color-medium
      border-radius: 0
      color: $color-black
      flex: 1
      float: left
      font-size: 1.125rem
      padding: 0.25rem 0
      &::placeholder
        color: $color-grey
        font-family: $sans
        font-size: 0.8em
        font-weight: 300
        font-style: italic
      &:focus
        border-bottom-color: $color-medium
        outline: 0
        &::placeholder
          opacity: 0 // hide placeholder when input is in focus
    section[inputs]
      display: flex
      justify-content: flex-start
      margin-top: 22px
      vertical-align: middle
      width: 100%
      input
        flex: 1
        font-family: $sans
        font-size: 16px
        font-weight: 300
        @media (max-width: 30em)
          width: 50%
      section[buttons]
        display: flex
        float: left
        justify-content: flex-end
        vertical-align: middle
        @media (max-width: 30em)
          width: 50%
        button
          padding-left: 10px
          padding-right: 10px
        span
          color: $color-grey
          font-family: $sans-alt
          font-size: 0.8em
          font-weight: 600
          margin-left: 10px
          margin-right: 10px
          transform: translateY(25%)
  output
    display: block
    font-family: $sans
    font-size: 14px
    .output-display
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      .flex-item
        line-height: 1.3em
        width: 45%
        word-wrap: break-word
        @media (max-width: 560px)
          width: 100%
        .name
          font-weight: 500
        hr
          height: 2px
          margin-bottom: 15px
          margin-top: -1px
        .phone
          $phone-margin: 13px
          display: inline-block
          margin-bottom: $phone-margin
          margin-top: $phone-margin
        .email a
          color: $color-medium
          text-decoration: none
          text-transform: lowercase
  div[suggestion]
    width: 50%
    @media (max-width: $screen-tablet)
      padding-left: 0
      width: 100%
    section
      font-family: $sans
      font-size: 1em
    button[copy]
      &:before
        opacity: 1
        position: fixed
        top: -200px
        left: 50%
        transform: translateX(-50%)
        padding: 7px
        background-color: #000
        background-color: hsla(0, 0%, 20%, 0.9)
        color: #fff
        content: attr(aria-label)
        text-align: center
        font-size: 14px
        line-height: 1.2
        z-index: 60
        transition: top .3s ease-in-out
        transition-delay: 1.5s;
      &[aria-label]:hover:before
        transition-delay: 0s;
        top: 0


footer
  align-content: center
  align-items: center
  background: $color-grey-light
  box-shadow: inset 0px 2px 2px 0px $color-light
  box-sizing: border-box
  color: $color-black
  display: flex
  flex-direction: column
  justify-content: center
  line-height: 1.57em
  min-height: 178px
  padding: 20px
  width: 100%
  @media (max-width: 880px)
    align-items: flex-start
  > div
    // this is a row/column
    display: flex
    font-family: $sans
    font-size: 0.9em
    justify-content: space-between
    @media (max-width: 880px)
      flex-direction: column
      margin: 0 auto
      width: 500px
    @media (max-width: 520px)
      margin: 0
      width: 100%
    > div
      // this is a cell
      display: flex
      @media (max-width: 520px)
        flex-direction: column
        margin-bottom: 10px
        span[comma]
          display: none
      & + div::before
        // If the column has a right-neighbor
        // place a pipe between them
        content: " | "
        padding-left: 10px
        padding-right: 10px
        @media (max-width: 880px)
          display: none
      span[title]
        font-weight: 500
        text-transform: uppercase

