$serif: "abril-text", Georgia, serif
$serif-titling: "abril-titling", Georgia, serif
$sans: "franklin-gothic-urw", "Avenir Next", "Avenir", Arial, sans-serif
$sans-alt: "fira-sans", Arial, sans-serif;

$color-dark: #1F5154
$color-medium: #388B90
$color-light: #BBCACB
$color-black: #0F1620
$color-grey: #6C7579
$color-grey-light: #DEE4E5
